{% extends 'base.html' %}

{% block content %}
<div style="padding: 10px; background-color: rgb(105, 36, 59)">
    <center>
        <p style="font-size:70px"> Here is an ARTICLE №{{ number }}. Article name {{ name }}</p> 
    </center>
</div> 
<br>
<div class="container" >
    <center>   
        <div class="d-xl-inline-flex p-2 bd-highlight" >     
        <div class="card" style="width: 55rem; background-color: rgb(22, 107, 100); color:aliceblue" >
        <div class="card-body">
          <h5 class="card-title">{{article.headline}}</h5>
          <p class="card-text">{{article.text}}</p>         
            <div class="row">
                <div class="col-5 text-start fs-5 ">
                    Genre: {{article.genre}}                                   
                </div>
                <div class="col-2">
                    <h2>{%for like in likes%}
                        {% if like.article.id == article.id %}
                            👍
                        {% endif %}   
                    {% endfor %}
                    {%for dislike in dislikes%}
                        {% if dislike.article.id == article.id %}
                            👎 
                        {% endif %}   
                    {% endfor %}</h2>                                   
                </div>
                <div class="col-1">
                    <button type="button" class="btn btn-lg">
                        <a style = "text-decoration: none;" href="/articles/{{article.id}}" class="card-link"><h2>💬</h2></a>
                    </button>                 
                </div>
                <div class="col-4 text-end">                    
                    Author of article: {{article.author}} <br>
                    Created at: {{article.created_at}}
                </div>
            </div>
        </div>
        </div>     
        </div>
    <br>
    </center>
</div>
<br>
<div class="container" style="color:aliceblue">
    <center>
        <div class="row" >
            <div class="col-4"></div>
            {%for comment in comments%}               
                {% if comment.article.id == article.id %}
                    <br>
                    <div class="col-6" style="background-color: rgb(22, 107, 100)">
                        <div class="fs-3 text-start">{{comment.text}}</div>
                        <div class="fs-5 text-end">
                            {%for like in likes%}
                                {% if like.comment.id == comment.id %}
                                    👍
                                {% endif %}   
                            {% endfor %}
                            {%for dislike in dislikes%}
                                {% if dislike.comment.id == comment.id %}
                                    👎 
                                {% endif %}   
                            {% endfor %}
                            Author: {{comment.user}}; Created at: {{comment.created_at}};</div>
                        <br>
                    </div><div class="col-2"></div>
                    {%for comm in comments%}
                        {% if comm.comment.id == comment.id%}
                        <br>
                        <div class="col-5"></div><div class="col-5" style="background-color: rgb(22, 107, 100)">
                                <div class="fs-3 text-start">{{comm.text}}</div> 
                                <div class="fs-5 text-end">
                                    {%for like in likes%}
                                        {% if like.comment.id == comm.id %}
                                            👍
                                        {% endif %}   
                                    {% endfor %}
                                    {%for dislike in dislikes%}
                                        {% if dislike.comment.id == comm.id %}
                                            👎 
                                        {% endif %}   
                                    {% endfor %}
                                    Author: {{comm.user}}; Created at: {{comm.created_at}};</div> 
                                <br> 
                            </div><div class="col-3"></div>
                                                           
                        {% endif %}
                    {%endfor%}
                {% endif %}                     
            {%endfor%}                                
            
    </center>
</div> 
{% endblock %}